
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz@9..40&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "DM Sans", sans-serif;
    line-height: 1.5em;
    font-weight: 400;

    
}

:root{
    --Primary0: #ffffff;
    --Primary2: #FDF2D9;
    --Primary5: #F2A900;
    --Primary10: #000000;
    --FontSmall: 13px;
    --FontMedium: 16px;
    --FontNav: 16px;
    --FontLarge: 20px;
    --FontXLarge: 24px;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 84px;
    background-color: var(--Primary0);

    
}

html, body{
   overflow-x: hidden;
   max-width:100%;
}

.header-left{
    max-height: 100%;
}

.header-right ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    gap: .5em;
    font-size: var(--FontNav);

    & a{
        text-decoration: none;
        color: var(--Primary10);
        padding: 0 10px;
    }

    & svg{
        width: 2rem;
    }

    & svg:nth-last-of-type(2){
        display: none;
    }
}


.header-container{
    padding-left: 1em;
    padding-right: 1em;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: space-between;

}


main img{
top:0;
left:0;
width: 100%;
max-width:100%;
background-repeat:no-repeat;
background-size:100% auto;
}

h1 {
      position:absolute;
      top: 20%;
      left: 40%;
      transform: translate(-50%, -50%);
      color: white;
      text-align: center;
      font-size: 5vw;
      font-weight: bold;
      font-family: 'DM Sans';
  }
 

 h2{
 font-size: var(--FontXLarge);
 font-weight: bold;
 padding: 15px;
 animation: fadeIn 4s;

 color: var(--Primary10);
 } 

 @keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }


 p{
    font-size: var(--FontMedium);
    padding: 15px;
    color: var(--Primary10);
 }

 h3{
    font-weight: bold;
    padding: 15px;
    font-size: var(--FontLarge);
    color: var(--Primary10);
    animation: fadeIn 7.5s;
 }


 main li{
    padding: 10px 25px;
    list-style-position: inside;
    font-size: var(--FontMedium);
    color: var(--Primary10);
    list-style-image: url(/assets/check-icon.svg);
 }

 li::marker{
    font-size: 1.4em;
 }

 /* body:has(.information-download-container.open:not(.close)) main{
  .information-text{
      display: none;
  } */


 

.information-download-container{ 
   
  box-sizing: border-box; 
  display: block; 
  background-color: var(--Primary2);
  padding: 20px;
  margin: -1em 0 0;
}

form{
  margin-top: 5em;
  margin-bottom: 6em;
}

h4{
  margin-top: 3em;
}


  input[type=text]{
    width: 100%;
    padding: 10px;
    background-color: var(--Primary2);
    margin: 10px 0;
    border: solid 1px var(--Primary10);
    border-left: 0;
    border-top: 0;
    border-right: 0;
  }

  input[type=email]{
    width: 100%;
    padding: 10px;
    background-color: var(--Primary2);
    margin: 10px 0;
    border: solid 1px var(--Primary10);
    border-left: 0;
    border-top: 0;
    border-right: 0;
  }

  input[type=tel]{
    width: 100%;
    padding: 10px;
    background-color: var(--Primary2);
    margin: 10px 0;
    border: solid 1px var(--Primary10);
    border-left: 0;
    border-top: 0;
    border-right: 0;  
  }

  input[type=checkbox] {
    padding: 10px;
    margin: 10px 0;
    accent-color: var(--Primary5);
  }

  .closebutton{
    width: 100%;
    display: block;
    position: relative;
    text-align: center;
    height: 40px;
    margin: -2em 0 0;
  }

 .closebutton button{
  background: var(--Primary2);
  border: none;
  border-radius: 50%;
  cursor: pointer;
  width:70px;
  height: 70px;
  text-align: center;
  font-size: xx-large;
}


.information-download-container button:nth-of-type(2){
  border: none;
  background-color: var(--Primary5);
  color: var(--Primary0);
  padding: 10px;
  margin-top: 10em;
}




label a{
  color: var(--Primary10);
text-decoration: 2px underline var(--Primary5)
}


.downloadfirst{
  width: 100%;
  display: block;
  position: relative;
  text-align: center;
  height: 40px;
}

.downloadfirstbutton{
  border: none;
  background-color: var(--Primary5);
  padding: 10px;
  margin-top: 1em;
  color: var(--Primary0);
  cursor: pointer;
}

.downloadfirst{
  margin: 4em 0 4em;
}

form span{
  position: absolute;
  right: 0;
  padding-right: 20px;
}

.header-right li{
    font-size: var(--FontSmall);
}

.submitwrapper{
  text-align: center;
  margin-top: 3em;
}

#advanced{
  border: none;
  padding: 10px;
}

@media only screen and (min-width: 776px) {
    .menu {
      display: none;
    }

 
}

@media  screen and (max-width:860px) {
  .header-right li:nth-of-type(n + 1):nth-of-type(-n + 7) {
    display: none;
  }
  
}


  @media only screen and (max-width: 790px) {
 

    .information-download-container img{
        display: none;
    }
  
    input[type=text], input[type=email] , input[type=tel], label{
      padding: 2px;
      font-size: var(--FontSmall);
    
}

@media (min-width: 776px) and (max-width: 853px) {
    .header-left svg {
        width: 3em;
        height: 3em;
    }
}

@media only screen and (min-width: 1020px) {
    :root {
    --FontMedium: 20px;
    --FontLarge: 24px;
    --FontXLarge: 30px;
}

}


  }