
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz@9..40&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "DM Sans", sans-serif;
    line-height: 1.5em;
    font-weight: 400;

    
}

:root{
    --Primary0: #ffffff;
    --Primary2: ##FDF2D9;
    --Primary5: #F2A900;
    --Primary10: #000000;
    --FontSmall: 13px;
    --FontMedium: 16;
    --FontLarge: 20px;
    --FontXLarge: 24px;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    background-color: var(--Primary0);
    
}

.header-left{
    max-height: 100%;
}

.header-right ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    gap: .5em;
    font-size: var(--FontMedium);

    & a{
        text-decoration: none;
        color: var(--Primary10);
        padding: 0 10px;
    }

    & svg{
        width: 2rem;
    }

    & svg:nth-last-of-type(2){
        display: none;
    }

}


.header-container{
    padding-left: 1em;
    padding-right: 1em;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: space-between;

}


main img{
top:0;
left:0;
width: 100%;
max-width:100%;
background-repeat:no-repeat;
background-size:100% auto;
}

h1 {
      position:absolute;
      top: 20%;
      left: 40%;
      transform: translate(-50%, -50%);
      color: white;
      text-align: center;
      font-size: 5vw;
      font-weight: bold;
      font-family: 'DM Sans';
  }

 




 h2{
 font-size: var(--FontXLarge);
 font-weight: bold;
 padding: 15px;
 animation: fadeIn 4s;

 color: var(--Primary10);
 } 

 @keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }


 p{
    font-size: var(--FontMedium);
    padding: 15px;
    color: var(--Primary10);
 }

 h3{
    font-weight: bold;
    padding: 15px;
    font-size: var(--FontLarge);
    color: var(--Primary10);
    animation: fadeIn 8s;
 }


 main li{
    padding: 0px 35px;
    margin: 10px;
    list-style-position: inside;
    font-size: var(--FontSmall);
    color: var(--Primary10);
    list-style-image: url(/assets/check-icon.svg);

   
 }


















  
@media only screen and (min-width: 775px) {
    .header-left svg{
        width: 3em;
        height: 3em;
}

.header-right li{
    font-size: var(--FontSmall);
}
}



@media only screen and (min-width: 775px) {
    .menu {
      display: none;
    }

    
    
  }
  

  @media only screen and (max-width: 780px) {
    .header-right li:nth-of-type(n + 1):nth-of-type(-n + 7) {
      display: none;
    }
}
